<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.tarkus.merchantmonitor.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tarkus.merchantmonitor.AboutActivity"
            android:exported="false" />

        <activity
            android:name="com.tarkus.merchantmonitor.PreferencesActivity"
            android:exported="false" />

        <receiver
            android:name="com.tarkus.merchantmonitor.LumiroWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lumiro_widget_provider" />
        </receiver>

        <service
            android:name="com.tarkus.merchantmonitor.Market_Service"
            android:exported="false" />

    </application>

</manifest>
